{% extends 'main/base.html' %}

{% block content %}
<div class="col">
    <h1 class="mt-5 fs-3"> Требования на должность 1C Developer (Все)</h1>
                <p><b>Навыки</b> – из раздела "навыки" в вакансиях на HeadHunter</p>
                <table class="table table-sm table-bordered table-hover ">
                    <thead>
                        <tr>
                            <th>№</th>
                            <th>Навык</th>
                            <th>Упоминаний</th>
                        </tr>
                    </thead>
                    <tbody>

                        <tr>
                            <td>1</td>
                            <td>1С программирование</td>
                            <td>1007</td>
                        </tr>

                        <tr>
                            <td>2</td>
                            <td>1С: Предприятие 8</td>
                            <td>525</td>
                        </tr>

                        <tr>
                            <td>3</td>
                            <td>1С: Управление Торговлей</td>
                            <td>334</td>
                        </tr>

                        <tr>
                            <td>4</td>
                            <td>1С: Бухгалтерия</td>
                            <td>333</td>
                        </tr>

                        <tr>
                            <td>5</td>
                            <td>ERP-системы на базе 1С</td>
                            <td>273</td>
                        </tr>

                        <tr>
                            <td>6</td>
                            <td>Обновление конфигурации 1С</td>
                            <td>270</td>
                        </tr>

                        <tr>
                            <td>7</td>
                            <td>1С: Зарплата и управление персоналом</td>
                            <td>234</td>
                        </tr>

                    </tbody>
                </table>
            </div>
{% endblock %}