{% extends 'main/base.html' %}

{% block content %}
<main class="container" style="flex: 1 1 auto;">


    <h1 class="mt-5 fs-3"> Требования на должность Python Developer (Все)</h1>

        <div class="row">
            <div class="col-12 col-md-2">

            </div>
            <div class="col row">

            <div class="col">
                <p><b>Навыки</b> – из раздела "навыки" в вакансиях на HeadHunter</p>
                <table class="table table-sm table-bordered table-hover ">
                    <thead>
                        <tr>
                            <th>№</th>
                            <th>Навык</th>
                            <th>Упоминаний</th>
                        </tr>
                    </thead>
                    <tbody>

                        <tr>
                            <td>1</td>
                            <td>Python</td>
                            <td>605</td>
                        </tr>

                        <tr>
                            <td>2</td>
                            <td>PostgreSQL</td>
                            <td>294</td>
                        </tr>

                        <tr>
                            <td>3</td>
                            <td>Django Framework</td>
                            <td>229</td>
                        </tr>

                        <tr>
                            <td>4</td>
                            <td>Git</td>
                            <td>190</td>
                        </tr>

                        <tr>
                            <td>5</td>
                            <td>SQL</td>
                            <td>175</td>
                        </tr>

                        <tr>
                            <td>6</td>
                            <td>Docker</td>
                            <td>168</td>
                        </tr>

                        <tr>
                            <td>7</td>
                            <td>Linux</td>
                            <td>135</td>
                        </tr>

                    </tbody>
                </table>
            </div>



            </div>
        </div>


    </main>
{% endblock %}