{% extends 'main/base.html' %}

{% block title %}
Технические интервью
{% endblock %}


{% block content %}
    <h1 class="mt-5 mb-5 fs-3">Публичные собеседования</h1>
    <div class="row align-items-start">
    <div class="col-12 col-md-2 d-flex flex-column align-items-start">
        <p class="">Фильтр:</p>
        <form method="GET">
            <select class="form-select" aria-label="Default select example" name="tag">
                <option value="" selected>Все</option>
                {% for tag in tags %}
                <option value="{{ tag.title }}">{{ tag.title }}</option>
                {% endfor %}
            </select>
            <button type="submit" class="btn btn-sm btn-primary mt-3">Выбрать</button>
        </form>
    </div>
    <table class="table">
        <thead>
        <tr>
            <th scope="col">
                <a href="?sort=title&order=asc" class="link-underline link-underline-opacity-0 link-underline-opacity-75-hover">Название ↑</a>
                <a href="?sort=title&order=desc" class="link-underline link-underline-opacity-0 link-underline-opacity-75-hover">↓</a>
            </th>
            <th scope="col">
                <a href="?sort=profession&order=asc" class="link-underline link-underline-opacity-0 link-underline-opacity-75-hover">Должность ↑</a>
                <a href="?sort=profession&order=desc" class="link-underline link-underline-opacity-0 link-underline-opacity-75-hover">↓</a>
            </th>
            <th scope="col">
                <a href="?sort=tag&order=asc" class="link-underline link-underline-opacity-0 link-underline-opacity-75-hover">Тег ↑</a>
                <a href="?sort=tag&order=desc" class="link-underline link-underline-opacity-0 link-underline-opacity-75-hover">↓</a>
            </th>
        </tr>
        </thead>
        <tbody>
            {% for interview in interviews %}
            <tr>
                <td>
                    <a href="{{ interview.url }}" target="_blank" class="link-offset-2 link-offset-3-hover link-underline
            link-underline-opacity-0 link-underline-opacity-75-hover">{{ interview.title }}</a>
                </td>
                <td>{{ interview.profession.title }}</td>
                <td>{{ interview.tag.title }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    </div>
{% endblock %}





