{% extends 'main/base.html' %}

{% block title %}
Практика
{% endblock %}

{% block content %}
<h1 class="mt-5 mb-5 fs-3"> Выберите в чем хотите практиковаться </h1>
<div class="row row-cols-1 row-cols-md-4 g-4">
          <div class="col">
            <div class="card">
              <div class="card-body">
                <h5 class="card-title"><a class="link-offset-2 link-offset-3-hover link-underline
            link-underline-opacity-0 link-underline-opacity-75-hover" href="/practice/frontend">Frontend</a></h5>
              </div>
            </div>
          </div>

          <div class="col">
            <div class="card">
              <div class="card-body">
                <h5 class="card-title"><a class="link-offset-2 link-offset-3-hover link-underline
            link-underline-opacity-0 link-underline-opacity-75-hover" href="/practice/python">Python</a></h5>
              </div>
            </div>
          </div>



    </div>
{% endblock %}




